@import"compass";
html, body{
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

a{ 
    text-decoration: none;
    color: inherit;
}

.site-content{
    padding-top: 50px;
    width:90%;
    margin:auto;
}

/*______________header_________________________*/
.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    
    line-height: 66px;
    color:#FFF;
    
    background-color: #304ffe;
}

.header_logo{
    font-weight: bold;
    padding: 0px 25px;
    float: left;
}

/*____________menu________________________________*/
.menu{
    float: left;
    a{padding: 0px 30px;}
    a:hover{color:#d14;}
}

.btn-accueil{
    width: 100%;
    height: 150px;
    margin-top: 80px;
}
/*_______________________page Quiz__________________*/
.btn-question{
    width:45%;
    height:100px;
    margin: 10px;
}
.containerQuizz{
    height:600px;
    width:80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255,255,255,0.9);
    padding:20px;
    border:1px solid black;
    box-shadow: 0 0 8px 3px #fff;
}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color:08038C;
}
.question{
    padding: 20px;
    font-size: 22px;
    background: #08038C;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color:#f6f6f6;   
}
/*.option{
    width:470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 10px 0 10px 10px;
    color:#000000;
    border-radius: 20px;
}*/